.itemBox {
    /* Display */
    display: inline-block;

    /* Size */
    width: 200px;
    height: 300px;

    /* Border */
    border: 1px solid black;
    border-radius: 10px;
}

.itemBox div {
    /* White space */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemBox .itemImageBox {
    /* Display */
    display: block;

    /* Size */
    width: 175px;
    height: 175px;
}

.itemBox .itemImageBox .itemImage {
    /* Size */
    width: inherit;
    height: inherit;
}

.itemBox .itemNameBox {
    /* Display */
    display: block;

    /* Size */
    width: inherit;
    height: 35px;

    /* Font/text */
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.itemBox .itemPriceBox {
    /* Display */
    display: block;

    /* Size */
    width: inherit;
    height: 20px;

    /* Font/Text */
    font-family: Arial;
    font-size: 10px;
    text-align: justify;
}

.itemBox .viewItemBox {
    /* Display */
    display: block;

    /* Size */
    width: inherit;
    height: 35px;

    /* Font/Text */
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

.itemBox .viewItemBox .viewItemUrl {
    /* Display */
    display: inline-block;

    /* Size */
    width: fit-content;
    height: fit-content;

    /* Padding */
    padding: 5px;

    /* Background */
    background-color: white;

    /* Border */
    border: 1px solid black;
    border-radius: 25px;
}
